
.user-movil {
    display: none;
}

.user-normal {
    display: block;
}
.banner-carousel .image img {
    height: 100%;
}
.top-right-content {
    width: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px;
}

/* span.fa~span.select2.select2-container {
    padding-left: 35px;
} */
.contact-page-section .form-column .inner-column{
    width: 100%;
}
/* .select2-container--open .select2-dropdown {
    left: 35px;
    width: 415px !important;
} */
.form-group  > div > .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid white;
    border-radius: .25rem;
    background-color: rgba(34,58,102,0.90);
    background-image: linear-gradient(to right, #1DB9A0 0%, #4d94c4 100%);
}
.form-group  > div > .card > .card-header {
    padding: 2px 1.25rem 2px 1.25rem;

    margin-bottom: 0;
    background-color:rgba(52, 58, 64, 0.3);
    border-bottom: 1px solid white;

}
.form-group > div > .card > .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px 1.25rem 2px 1.25rem;
}

.form-group > .select2.fa {
    position: absolute !important;
    left: 0px !important;
    top: 12px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1em;
}

/*SELECT2 CUSTOM CSS*/
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgba(34,58,102,0.90);
    background-image: linear-gradient(to right, #1DB9A0 0%, #4d94c4 100%);
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: white;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #212529 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 36px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(31, 184, 161);
    color: white;
}
.select2-results__option[aria-selected] {
    cursor: pointer;
    color: black;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    background-image: none;
    cursor: default;
}
.select2-container--disabled .select2-selection--single .select2-selection__placeholder {
    color: #999;
}
/*END SELECT2 CUSTOM CSS*/
@media only screen and (max-width: 1440px) {
    .banner-carousel .image img {
        /* height: 660px; */
        width: 500px;
        height: 100%;
    }
}

.fa-new-position {
    left: none !important;
    position: inherit !important;
    top: auto !important;
    color: #000000 !important;
    font-size: 18px !important;
    line-height: 1em !important;
}

.input-group.date>input[type="text"] {
    color: #ffffff !important;
    line-height: 26px;
    padding: 0px 15px 8px 35px;
    height: 50px;
    font-size: 14px;
    border-radius: 2px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

@media only screen and (max-width: 767px) {
    .main-header .header-top, .xs-mobile-hide {
        display: block;
    }
    .header-top .top-right .nav-box, .header-top .top-right .cart-btn {
        display: none;
        float: none;
    }
    .header-top .top-right>a {
        float: right !important;
    }
    .header-top.loggin {
        display: block;
    }
    .user-movil {
        display: block;
    }
    .user-normal {
        display: none;
    }
    .top-right-content {
        width: 100%;
    }
}

.user-movil .image {
    position: relative;
    width: 25px;
    height: 25px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    /* margin-left: -20px; */
    border: 2px solid #ffffff;
    margin-right: 5px;
    /* z-index: 555; */
}

.team-meta {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.team-meta__logo {
    width: 35px;
    height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 5px 5px !important;
}

.team-meta__info {
    display: inline-block;
    vertical-align: middle;
}

.team-meta__name {
    font-size: 12px;
    line-height: 1.2em;
    margin-bottom: 0;
    text-transform: none;
    font-weight: 400;
}

.table td {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    vertical-align: middle;
}

.image-preview {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}

.image-preview {
    margin: auto auto;
    width: 200px;
    height: 200px;
    max-width: 250px;
    max-height: 250px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
    background: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 37px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: white;
    color: black;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 37px;
    user-select: none;
    -webkit-user-select: none;
}

.image-preview input {
    line-height: 150px;
    font-size: 150px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.btn-action {
    background-color: rgba(34, 58, 102, 0.90);
    background-image: linear-gradient(to right, #1DB9A0 0%, #4d94c4 100%);
    color: white;
    border: none;
}

.elementskit-navbar-nav li a {
    height: auto;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.admin-menu-color {
    font-weight: 800 !important;
    color: #007bff !important;
}

.main-header .elementskit-navbar-nav>li.elementskit-dropdown-has>a.admin-menu-color:before {
    font-weight: 800 !important;
    color: #007bff !important;
}

/* Para 1440px */

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .banner-carousel .image img {
        /* height: 660px; */
        width: 500px;
        border: none;
        
        height: 100%;
    }
    .banner-carousel .image {
        position: absolute;
        right: 0px;
        bottom: 0px;
        top: 0;
        height: 100%;
        padding: 40px 0 40px 40px;
    }
}

@media all and (min-width:960px) and (max-width: 1024px) {
    /* put your css styles in here */
    .banner-carousel .image img {
        /* height: 660px; */
        width: 500px;
        border: none;
        
        height: 100%;
    }
    .banner-carousel .image {
        position: absolute;
        right: 0px;
        bottom: 0px;
        top: 0;
        height: 100%;
        padding: 40px 0 40px 40px;
    }
}

@media all and (min-width:801px) and (max-width: 959px) {
    /* put your css styles in here */
}

@media all and (min-width:769px) and (max-width: 800px) {
    /* put your css styles in here */
}

@media all and (min-width:569px) and (max-width: 768px) {
    /* put your css styles in here */
    .banner-carousel .image img {
        height: 410px;
        width: 100%;
        
        border: none;
    }
    .banner-carousel .image {
        position: absolute;
        right: 0px;
        bottom: 0px;
        top: 0;
        height: 100%;
        padding: 40px 0 40px 40px;
    }
}

@media all and (min-width:481px) and (max-width: 568px) {
    .banner-carousel .image img {
        margin-left: auto;
        margin-right: auto;
        border: 40px solid rgba(0, 0, 0, 0);
        width: auto;
        height: auto;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {
    .banner-carousel .image img {
        margin-left: auto;
        margin-right: auto;
        border: none;
        width: auto;
        height: auto;
    }
    .banner-carousel .image {
        height: auto;
        position: static;
    }
}

@media all and (min-width:0px) and (max-width: 320px) {
    .banner-carousel .image img {
        margin-left: auto;
        margin-right: auto;
        border: none;
        width: auto;
        height: auto;
    }
    .banner-carousel .image {
        height: auto;
        position: static;
    }
}

.banner-column>a {
    position: relative;
    display: block;
    font-size: 34px;
    line-height: 1.2em;
    color: white !important;
    font-weight: 700;
    text-decoration: underline !important;
    cursor: pointer;
    margin-bottom: 25px;
    overflow-wrap: break-word;
    text-transform: capitalize;

}
.banner-column .text {
    font-size: 16px;
}
.contact-form .form-group textarea {
    color: white;
    overflow: auto;
    resize: vertical;
}

.owl-next>span {
    position: absolute;
    left: 25%;
    top: 25%;
}

.owl-prev>span {
    position: absolute;
    left: 25%;
    top: 25%;
}

.btn-style-two.other {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    padding: 5px 50px;
    font-weight: 700;
    overflow: hidden;
    border-radius: 50px;
    letter-spacing: 1px;
    background-color: #223a66;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}